openapi: 3.0.3
info:
  description: 'You can use Spotify''s Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.


    In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth 2.0</a>.


    The base URI for all Web API requests is `https://api.spotify.com/v1`.


    Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify for Developers community forum</a> to ask questions and connect with other developers.

    '
  version: 1.0.0
  title: Spotify Web Albums Tracks API
  termsOfService: https://developer.spotify.com/terms/
  contact:
    name: Spotify for Developers Community
    url: https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer
servers:
- url: https://api.spotify.com/v1
tags:
- name: Tracks
paths:
  /albums/{id}/tracks:
    get:
      operationId: get-an-albums-tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      tags:
      - Tracks
      summary: 'Get Album Tracks

        '
      description: 'Get Spotify catalog information about an album’s tracks.

        Optional parameters can be used to limit the number of tracks returned.

        '
      parameters:
      - $ref: '#/components/parameters/PathAlbumId'
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSimplifiedTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /artists/{id}/top-tracks:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-an-artists-top-tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataPolicyList'
      summary: 'Get Artist''s Top Tracks

        '
      description: 'Get Spotify catalog information about an artist''s top tracks by country.

        '
      parameters:
      - $ref: '#/components/parameters/PathArtistId'
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/ManyTracks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /tracks/{id}:
    get:
      tags:
      - Tracks
      operationId: get-track
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: 'Get Track

        '
      description: 'Get Spotify catalog information for a single track identified by its

        unique Spotify ID.

        '
      parameters:
      - name: id
        required: true
        in: path
        schema:
          title: Spotify Track ID
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)

            for the track.

            '
          example: 11dFghVXANMlKmJXsNCbNl
          type: string
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/OneTrack'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /tracks:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-several-tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: 'Get Several Tracks

        '
      description: 'Get Spotify catalog information for multiple tracks based on their Spotify IDs.

        '
      parameters:
      - $ref: '#/components/parameters/QueryMarket'
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify Track IDs
          description: 'A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M`. Maximum: 50 IDs.

            '
          example: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ManyTracks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /playlists/{playlist_id}/tracks:
    get:
      tags:
      - Tracks
      operationId: get-playlists-tracks
      deprecated: true
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: 'Get Playlist Items [DEPRECATED]

        '
      description: '**Deprecated:** Use [Get Playlist Items](/documentation/web-api/reference/get-playlists-items) instead.


        Get full details of the items of a playlist owned by a Spotify user.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - $ref: '#/components/parameters/QueryMarket'
      - name: fields
        required: false
        in: query
        schema:
          title: Fields
          description: 'Filters for the query: a comma-separated list of the

            fields to return. If omitted, all fields are returned. For example, to get

            just the total number of items and the request limit:<br/>`fields=total,limit`<br/>A

            dot separator can be used to specify non-reoccurring fields, while parentheses

            can be used to specify reoccurring fields within objects. For example, to

            get just the added date and user ID of the adder:<br/>`fields=items(added_at,added_by.id)`<br/>Use

            multiple parentheses to drill down into nested objects, for example:<br/>`fields=items(track(name,href,album(name,href)))`<br/>Fields

            can be excluded by prefixing them with an exclamation mark, for example:<br/>`fields=items.track.album(!external_urls,images)`

            '
          example: items(added_by.id,track(name,href,album(name,href)))
          type: string
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryAdditionalTypes'
      responses:
        '200':
          $ref: '#/components/responses/PagingPlaylistTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-read-private
    post:
      tags:
      - Tracks
      operationId: add-tracks-to-playlist
      deprecated: true
      summary: 'Add Items to Playlist [DEPRECATED]

        '
      description: '**Deprecated:** Use [Add Items to Playlist](/documentation/web-api/reference/add-items-to-playlist) instead.


        Add one or more items to a user''s playlist.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - name: position
        required: false
        in: query
        schema:
          title: Position (append by default)
          description: 'The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0`; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they are listed in the query string or request body.

            '
          example: 0
          type: integer
      - name: uris
        required: false
        in: query
        schema:
          title: Spotify Track URIs
          description: 'A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add, can be track or episode URIs. For example:<br/>`uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh, spotify:track:1301WleyT98MSxVHPZCA6M, spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be added in one request. <br/>

            _**Note**: it is likely that passing a large number of item URIs as a query parameter will exceed the maximum length of the request URI. When adding a large number of items, it is recommended to pass them in the request body, see below._

            '
          example: spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                uris:
                  description: 'A JSON array of the [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M", "spotify:episode:512ojhOuo1ktJprKbVcKyQ"]}`<br/>A maximum of 100 items can be added in one request. _**Note**: if the `uris` parameter is present in the query string, any URIs listed here in the body will be ignored._

                    '
                  type: array
                  items:
                    type: string
                position:
                  description: 'The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0` ; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they appear in the uris array. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M"], "position": 3}`

                    '
                  type: integer
      responses:
        '201':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
    put:
      tags:
      - Tracks
      operationId: reorder-or-replace-playlists-tracks
      deprecated: true
      summary: 'Update Playlist Items [DEPRECATED]

        '
      description: '**Deprecated:** Use [Update Playlist Items](/documentation/web-api/reference/reorder-or-replace-playlists-items) instead.


        Either reorder or replace items in a playlist depending on the request''s parameters.

        To reorder items, include `range_start`, `insert_before`, `range_length` and `snapshot_id` in the request''s body.

        To replace items, include `uris` as either a query parameter or in the request''s body.

        Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist.

        <br/>

        **Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters.

        These operations can''t be applied together in a single request.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - name: uris
        required: false
        in: query
        schema:
          title: Spotify Track URIs
          description: 'A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to set, can be track or episode URIs. For example: `uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M,spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be set in one request.

            '
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                range_start: 1
                insert_before: 3
                range_length: 2
              type: object
              additionalProperties: true
              properties:
                uris:
                  type: array
                  items:
                    type: string
                range_start:
                  type: integer
                  description: 'The position of the first item to be reordered.

                    '
                insert_before:
                  type: integer
                  description: 'The position where the items should be inserted.<br/>To reorder the items to the end of the playlist, simply set _insert_before_ to the position after the last item.<br/>Examples:<br/>To reorder the first item to the last position in a playlist with 10 items, set _range_start_ to 0, and _insert_before_ to 10.<br/>To reorder the last item in a playlist with 10 items to the start of the playlist, set _range_start_ to 9, and _insert_before_ to 0.

                    '
                range_length:
                  type: integer
                  description: 'The amount of items to be reordered. Defaults to 1 if not set.<br/>The range of items to be reordered begins from the _range_start_ position, and includes the _range_length_ subsequent items.<br/>Example:<br/>To move the items at index 9-10 to the start of the playlist, _range_start_ is set to 9, and _range_length_ is set to 2.

                    '
                snapshot_id:
                  type: string
                  description: 'The playlist''s snapshot ID against which you want to make the changes.

                    '
      responses:
        '200':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
    delete:
      tags:
      - Tracks
      operationId: remove-tracks-playlist
      deprecated: true
      summary: 'Remove Playlist Items [DEPRECATED]

        '
      description: '**Deprecated:** Use [Remove Playlist Items](/documentation/web-api/reference/remove-items-playlist) instead.


        Remove one or more items from a user''s playlist.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - tracks
              properties:
                tracks:
                  type: array
                  description: 'An array of objects containing [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) of the tracks or episodes to remove.

                    For example: `{ "tracks": [{ "uri": "spotify:track:4iV5W9uYEdYUVa79Axb7Rh" },{ "uri": "spotify:track:1301WleyT98MSxVHPZCA6M" }] }`. A maximum of 100 objects can be sent at once.

                    '
                  items:
                    type: object
                    properties:
                      uri:
                        type: string
                        description: Spotify URI
                snapshot_id:
                  type: string
                  description: 'The playlist''s snapshot ID against which you want to make the changes.

                    The API will validate that the specified items exist and in the specified positions and make the changes,

                    even if more recent changes have been made to the playlist.

                    '
      responses:
        '200':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
  /playlists/{playlist_id}/items:
    get:
      tags:
      - Tracks
      operationId: get-playlists-items
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: 'Get Playlist Items

        '
      description: 'Get full details of the items of a playlist owned by a Spotify user.


        **Note**: This endpoint is only accessible for playlists owned by the current user or playlists the user is a collaborator of. A `403 Forbidden` status code will be returned if the user is neither the owner nor a collaborator of the playlist.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - $ref: '#/components/parameters/QueryMarket'
      - name: fields
        required: false
        in: query
        schema:
          title: Fields
          description: 'Filters for the query: a comma-separated list of the

            fields to return. If omitted, all fields are returned. For example, to get

            just the total number of items and the request limit:<br/>`fields=total,limit`<br/>A

            dot separator can be used to specify non-reoccurring fields, while parentheses

            can be used to specify reoccurring fields within objects. For example, to

            get just the added date and user ID of the adder:<br/>`fields=items(added_at,added_by.id)`<br/>Use

            multiple parentheses to drill down into nested objects, for example:<br/>`fields=items(track(name,href,album(name,href)))`<br/>Fields

            can be excluded by prefixing them with an exclamation mark, for example:<br/>`fields=items.track.album(!external_urls,images)`

            '
          example: items(added_by.id,track(name,href,album(name,href)))
          type: string
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      - $ref: '#/components/parameters/QueryAdditionalTypes'
      responses:
        '200':
          $ref: '#/components/responses/PagingPlaylistTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-read-private
    post:
      tags:
      - Tracks
      operationId: add-items-to-playlist
      summary: 'Add Items to Playlist

        '
      description: 'Add one or more items to a user''s playlist.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - name: position
        required: false
        in: query
        schema:
          title: Position (append by default)
          description: 'The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0`; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they are listed in the query string or request body.

            '
          example: 0
          type: integer
      - name: uris
        required: false
        in: query
        schema:
          title: Spotify Track URIs
          description: 'A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add, can be track or episode URIs. For example:<br/>`uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh, spotify:track:1301WleyT98MSxVHPZCA6M, spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be added in one request. <br/>

            _**Note**: it is likely that passing a large number of item URIs as a query parameter will exceed the maximum length of the request URI. When adding a large number of items, it is recommended to pass them in the request body, see below._

            '
          example: spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                uris:
                  description: 'A JSON array of the [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to add. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M", "spotify:episode:512ojhOuo1ktJprKbVcKyQ"]}`<br/>A maximum of 100 items can be added in one request. _**Note**: if the `uris` parameter is present in the query string, any URIs listed here in the body will be ignored._

                    '
                  type: array
                  items:
                    type: string
                position:
                  description: 'The position to insert the items, a zero-based index. For example, to insert the items in the first position: `position=0` ; to insert the items in the third position: `position=2`. If omitted, the items will be appended to the playlist. Items are added in the order they appear in the uris array. For example: `{"uris": ["spotify:track:4iV5W9uYEdYUVa79Axb7Rh","spotify:track:1301WleyT98MSxVHPZCA6M"], "position": 3}`

                    '
                  type: integer
      responses:
        '201':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
    put:
      tags:
      - Tracks
      operationId: reorder-or-replace-playlists-items
      summary: 'Update Playlist Items

        '
      description: 'Either reorder or replace items in a playlist depending on the request''s parameters.

        To reorder items, include `range_start`, `insert_before`, `range_length` and `snapshot_id` in the request''s body.

        To replace items, include `uris` as either a query parameter or in the request''s body.

        Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist.

        <br/>

        **Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters.

        These operations can''t be applied together in a single request.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      - name: uris
        required: false
        in: query
        schema:
          title: Spotify Track URIs
          description: 'A comma-separated list of [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) to set, can be track or episode URIs. For example: `uris=spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M,spotify:episode:512ojhOuo1ktJprKbVcKyQ`<br/>A maximum of 100 items can be set in one request.

            '
          type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                range_start: 1
                insert_before: 3
                range_length: 2
              type: object
              additionalProperties: true
              properties:
                uris:
                  type: array
                  items:
                    type: string
                range_start:
                  type: integer
                  description: 'The position of the first item to be reordered.

                    '
                insert_before:
                  type: integer
                  description: 'The position where the items should be inserted.<br/>To reorder the items to the end of the playlist, simply set _insert_before_ to the position after the last item.<br/>Examples:<br/>To reorder the first item to the last position in a playlist with 10 items, set _range_start_ to 0, and _insert_before_ to 10.<br/>To reorder the last item in a playlist with 10 items to the start of the playlist, set _range_start_ to 9, and _insert_before_ to 0.

                    '
                range_length:
                  type: integer
                  description: 'The amount of items to be reordered. Defaults to 1 if not set.<br/>The range of items to be reordered begins from the _range_start_ position, and includes the _range_length_ subsequent items.<br/>Example:<br/>To move the items at index 9-10 to the start of the playlist, _range_start_ is set to 9, and _range_length_ is set to 2.

                    '
                snapshot_id:
                  type: string
                  description: 'The playlist''s snapshot ID against which you want to make the changes.

                    '
      responses:
        '200':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
    delete:
      tags:
      - Tracks
      operationId: remove-items-playlist
      summary: 'Remove Playlist Items

        '
      description: 'Remove one or more items from a user''s playlist.

        '
      parameters:
      - $ref: '#/components/parameters/PathPlaylistId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - items
              properties:
                items:
                  type: array
                  description: 'An array of objects containing [Spotify URIs](/documentation/web-api/concepts/spotify-uris-ids) of the tracks or episodes to remove.

                    For example: `{ "items": [{ "uri": "spotify:track:4iV5W9uYEdYUVa79Axb7Rh" },{ "uri": "spotify:track:1301WleyT98MSxVHPZCA6M" }] }`. A maximum of 100 objects can be sent at once.

                    '
                  items:
                    type: object
                    properties:
                      uri:
                        type: string
                        description: Spotify URI
                snapshot_id:
                  type: string
                  description: 'The playlist''s snapshot ID against which you want to make the changes.

                    The API will validate that the specified items exist and in the specified positions and make the changes,

                    even if more recent changes have been made to the playlist.

                    '
      responses:
        '200':
          $ref: '#/components/responses/PlaylistSnapshotId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - playlist-modify-public
        - playlist-modify-private
  /me/tracks:
    get:
      tags:
      - Tracks
      operationId: get-users-saved-tracks
      summary: 'Get User''s Saved Tracks

        '
      description: 'Get a list of the songs saved in the current Spotify user''s ''Your Music'' library.

        '
      parameters:
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSavedTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
    put:
      deprecated: true
      tags:
      - Tracks
      operationId: save-tracks-user
      summary: 'Save Tracks for Current User

        '
      description: 'Save one or more tracks to the current user''s ''Your Music'' library.


        **Note:** This endpoint is deprecated. Use [Save Items to Library](/documentation/web-api/reference/save-library-items) instead.

        '
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
              - uris
              properties:
                ids:
                  type: array
                  description: 'A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `timestamped_ids` is present in the body, any IDs listed in the query parameters (deprecated) or the `ids` field in the body will be ignored._

                    '
                  items:
                    type: string
                timestamped_ids:
                  type: array
                  description: 'A JSON array of objects containing track IDs with their corresponding timestamps. Each object must include a track ID and an `added_at` timestamp. This allows you to specify when tracks were added to maintain a specific chronological order in the user''s library.<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `timestamped_ids` is present in the body, any IDs listed in the query parameters (deprecated) or the `ids` field in the body will be ignored._

                    '
                  items:
                    type: object
                    required:
                    - id
                    - added_at
                    properties:
                      id:
                        type: string
                        description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.

                          '
                      added_at:
                        type: string
                        format: date-time
                        x-spotify-docs-type: Timestamp
                        description: 'The timestamp when the track was added to the library. Use ISO 8601 format with UTC timezone (e.g., `2023-01-15T14:30:00Z`). You can specify past timestamps to insert tracks at specific positions in the library''s chronological order. The API uses minute-level granularity for ordering, though the timestamp supports millisecond precision.

                          '
      responses:
        '200':
          description: Track saved
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
    delete:
      deprecated: true
      tags:
      - Tracks
      operationId: remove-tracks-user
      summary: 'Remove User''s Saved Tracks

        '
      description: 'Remove one or more tracks from the current user''s ''Your Music'' library.


        **Note:** This endpoint is deprecated. Use [Remove Items from Library](/documentation/web-api/reference/remove-library-items) instead.

        '
      parameters:
      - $ref: '#/components/parameters/QueryTrackIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: 'A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._

                    '
                  items:
                    type: string
      responses:
        '200':
          description: Track removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
  /me/tracks/contains:
    get:
      tags:
      - Tracks
      operationId: check-users-saved-tracks
      summary: 'Check User''s Saved Tracks

        '
      deprecated: true
      description: 'Check if one or more tracks is already saved in the current Spotify user''s ''Your Music'' library.


        **Note:** This endpoint is deprecated. Use [Check User''s Saved Items](/documentation/web-api/reference/check-library-contains) instead.

        '
      parameters:
      - $ref: '#/components/parameters/QueryTrackIds'
      responses:
        '200':
          $ref: '#/components/responses/ArrayOfBooleans'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
  /me/top/{type}:
    get:
      tags:
      - Tracks
      operationId: get-users-top-artists-and-tracks
      summary: 'Get User''s Top Items

        '
      description: 'Get the current user''s top artists or tracks based on calculated affinity.

        '
      parameters:
      - name: type
        required: true
        in: path
        schema:
          title: Type
          description: 'The type of entity to return. Valid values: `artists` or `tracks`

            '
          enum:
          - artists
          - tracks
          type: string
      - name: time_range
        required: false
        in: query
        schema:
          title: Time Range
          description: 'Over what time frame the affinities are computed. Valid values: `long_term` (calculated from ~1 year of data and including all new data as it becomes available), `medium_term` (approximately last 6 months), `short_term` (approximately last 4 weeks). Default: `medium_term`

            '
          default: medium_term
          example: medium_term
          type: string
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingArtistOrTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-top-read
  /audio-features:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-several-audio-features
      x-spotify-policy-list:
      - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
      summary: 'Get Several Tracks'' Audio Features

        '
      description: 'Get audio features for multiple tracks based on their Spotify IDs.

        '
      parameters:
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify Track IDs
          description: 'A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids)

            for the tracks. Maximum: 100 IDs.

            '
          example: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ManyAudioFeatures'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /audio-features/{id}:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-audio-features
      x-spotify-policy-list:
      - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
      summary: 'Get Track''s Audio Features

        '
      description: 'Get audio feature information for a single track identified by its unique

        Spotify ID.

        '
      parameters:
      - name: id
        required: true
        in: path
        schema:
          title: Spotify Track ID
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.

            '
          example: 11dFghVXANMlKmJXsNCbNl
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OneAudioFeatures'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /audio-analysis/{id}:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-audio-analysis
      summary: 'Get Track''s Audio Analysis

        '
      description: 'Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track’s structure and musical content, including rhythm, pitch, and timbre.

        '
      parameters:
      - name: id
        required: true
        in: path
        schema:
          title: Spotify Track ID
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)

            for the track.

            '
          example: 11dFghVXANMlKmJXsNCbNl
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OneAudioAnalysis'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /recommendations:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-recommendations
      x-spotify-policy-list:
      - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
      summary: 'Get Recommendations

        '
      description: 'Recommendations are generated based on the available information for a given seed entity and matched against similar artists and tracks. If there is sufficient information about the provided seeds, a list of tracks will be returned together with pool size details.


        For artists and tracks that are very new or obscure there might not be enough data to generate a list of tracks.

        '
      parameters:
      - name: limit
        required: false
        in: query
        schema:
          title: Limit
          description: 'The target size of the list of recommended tracks. For seeds with unusually small pools or when highly restrictive filtering is applied, it may be impossible to generate the requested number of recommended tracks. Debugging information for such cases is available in the response. Default: 20\. Minimum: 1\. Maximum: 100.

            '
          default: 20
          example: 10
          type: integer
          minimum: 1
          maximum: 100
      - $ref: '#/components/parameters/QueryMarket'
      - name: seed_artists
        required: true
        in: query
        schema:
          title: Spotify Artist ID Seeds
          description: 'A comma separated list of [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for seed artists.  Up to 5 seed values may be provided in any combination of `seed_artists`, `seed_tracks` and `seed_genres`.<br/> _**Note**: only required if `seed_genres` and `seed_tracks` are not set_.

            '
          example: 4NHQUGzhtTLFvgF5SZesLK
          type: string
      - name: seed_genres
        required: true
        in: query
        schema:
          title: Genres Seeds
          description: 'A comma separated list of any genres in the set of [available genre seeds](/documentation/web-api/reference/get-recommendation-genres). Up to 5 seed values may be provided in any combination of `seed_artists`, `seed_tracks` and `seed_genres`.<br/> _**Note**: only required if `seed_artists` and `seed_tracks` are not set_.

            '
          example: classical,country
          type: string
      - name: seed_tracks
        required: true
        in: query
        schema:
          title: Spotify Track ID Seeds
          description: 'A comma separated list of [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for a seed track.  Up to 5 seed values may be provided in any combination of `seed_artists`, `seed_tracks` and `seed_genres`.<br/> _**Note**: only required if `seed_artists` and `seed_genres` are not set_.

            '
          example: 0c6xIDDpzE81m2q797ordA
          type: string
      - name: min_acousticness
        required: false
        in: query
        schema:
          title: Min. Acousticness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_acousticness
        required: false
        in: query
        schema:
          title: Max. Acousticness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_acousticness
        required: false
        in: query
        schema:
          title: Target Acousticness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_danceability
        required: false
        in: query
        schema:
          title: Min. Danceability
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_danceability
        required: false
        in: query
        schema:
          title: Max. Danceability
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_danceability
        required: false
        in: query
        schema:
          title: Target Danceability
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_duration_ms
        required: false
        in: query
        schema:
          title: Min. Duration (ms)
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
      - name: max_duration_ms
        required: false
        in: query
        schema:
          title: Max. Duration (ms)
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
      - name: target_duration_ms
        required: false
        in: query
        schema:
          title: Target Duration (ms)
          description: Target duration of the track (ms)
          type: integer
      - name: min_energy
        required: false
        in: query
        schema:
          title: Min. Energy
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_energy
        required: false
        in: query
        schema:
          title: Max. Energy
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_energy
        required: false
        in: query
        schema:
          title: Target Energy
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_instrumentalness
        required: false
        in: query
        schema:
          title: Min. Instrumentalness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_instrumentalness
        required: false
        in: query
        schema:
          title: Max. Instrumentalness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_instrumentalness
        required: false
        in: query
        schema:
          title: Target Instrumentalness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_key
        required: false
        in: query
        schema:
          title: Min. Key
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
          minimum: 0
          maximum: 11
      - name: max_key
        required: false
        in: query
        schema:
          title: Max. Key
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
          minimum: 0
          maximum: 11
      - name: target_key
        required: false
        in: query
        schema:
          title: Target Key
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: integer
          minimum: 0
          maximum: 11
      - name: min_liveness
        required: false
        in: query
        schema:
          title: Min. Liveness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_liveness
        required: false
        in: query
        schema:
          title: Max. Liveness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_liveness
        required: false
        in: query
        schema:
          title: Target Liveness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_loudness
        required: false
        in: query
        schema:
          title: Min. Loudness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
      - name: max_loudness
        required: false
        in: query
        schema:
          title: Max. Loudness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
      - name: target_loudness
        required: false
        in: query
        schema:
          title: Target Loudness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
      - name: min_mode
        required: false
        in: query
        schema:
          title: Min. Mode
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
          minimum: 0
          maximum: 1
      - name: max_mode
        required: false
        in: query
        schema:
          title: Max. Mode
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
          minimum: 0
          maximum: 1
      - name: target_mode
        required: false
        in: query
        schema:
          title: Target Mode
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: integer
          minimum: 0
          maximum: 1
      - name: min_popularity
        required: false
        in: query
        schema:
          title: Min. Popularity
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
          minimum: 0
          maximum: 100
      - name: max_popularity
        required: false
        in: query
        schema:
          title: Max. Popularity
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
          minimum: 0
          maximum: 100
      - name: target_popularity
        required: false
        in: query
        schema:
          title: Target Popularity
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: integer
          minimum: 0
          maximum: 100
      - name: min_speechiness
        required: false
        in: query
        schema:
          title: Min. Speechiness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_speechiness
        required: false
        in: query
        schema:
          title: Max. Speechiness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_speechiness
        required: false
        in: query
        schema:
          title: Target Speechiness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_tempo
        required: false
        in: query
        schema:
          title: Min. Tempo
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
      - name: max_tempo
        required: false
        in: query
        schema:
          title: Max. Tempo
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
      - name: target_tempo
        required: false
        in: query
        schema:
          title: Target Tempo
          description: Target tempo (BPM)
          type: number
      - name: min_time_signature
        required: false
        in: query
        schema:
          title: Min. Time Signature
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
          maximum: 11
      - name: max_time_signature
        required: false
        in: query
        schema:
          title: Max. Time Signature
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
      - name: target_time_signature
        required: false
        in: query
        schema:
          title: Target Time Signature
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: integer
      - name: min_valence
        required: false
        in: query
        schema:
          title: Min. Valence
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_valence
        required: false
        in: query
        schema:
          title: Max. Valence
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_valence
        required: false
        in: query
        schema:
          title: Target Valence
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      responses:
        '200':
          $ref: '#/components/responses/OneRecommendations'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
components:
  x-spotify-policy:
    metadataPolicyList:
    - $ref: '#/components/x-spotify-policy/policies/Downloading'
    - $ref: '#/components/x-spotify-policy/policies/VisualAlteration'
    - $ref: '#/components/x-spotify-policy/policies/Attribution'
    metadataWithMachineLearningPolicyList:
    - $ref: '#/components/x-spotify-policy/policies/Downloading'
    - $ref: '#/components/x-spotify-policy/policies/VisualAlteration'
    - $ref: '#/components/x-spotify-policy/policies/Attribution'
    - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
  schemas:
    TrackRestrictionObject:
      type: object
      x-spotify-docs-type: TrackRestrictionObject
      properties:
        reason:
          type: string
          description: 'The reason for the restriction. Supported values:

            - `market` - The content item is not available in the given market.

            - `product` - The content item is not available for the user''s subscription type.

            - `explicit` - The content item is explicit and the user''s account is set to not play explicit content.


            Additional reasons may be added in the future.

            **Note**: If you use this field, make sure that your application safely handles unknown values.

            '
    PlaylistTrackObject:
      type: object
      x-spotify-docs-type: PlaylistTrackObject
      properties:
        added_at:
          type: string
          format: date-time
          x-spotify-docs-type: Timestamp
          description: 'The date and time the track or episode was added. _**Note**: some very old playlists may return `null` in this field._

            '
        added_by:
          allOf:
          - $ref: '#/components/schemas/PlaylistUserObject'
          description: 'The Spotify user who added the track or episode. _**Note**: some very old playlists may return `null` in this field._

            '
        is_local:
          type: boolean
          description: 'Whether this track or episode is a [local file](/documentation/web-api/concepts/playlists/#local-files) or not.

            '
        item:
          oneOf:
          - $ref: '#/components/schemas/TrackObject'
          - $ref: '#/components/schemas/EpisodeObject'
          x-spotify-docs-type: TrackObject | EpisodeObject
          description: Information about the track or episode.
          discriminator:
            propertyName: type
        track:
          oneOf:
          - $ref: '#/components/schemas/TrackObject'
          - $ref: '#/components/schemas/EpisodeObject'
          x-spotify-docs-type: TrackObject | EpisodeObject
          deprecated: true
          description: '**Deprecated:** Use `item` instead. Information about the track or episode.

            '
          discriminator:
            propertyName: type
    AlbumBase:
      type: object
      required:
      - album_type
      - total_tracks
      - available_markets
      - external_urls
      - href
      - id
      - images
      - name
      - release_date
      - release_date_precision
      - type
      - uri
      properties:
        album_type:
          type: string
          description: 'The type of the album.

            '
          enum:
          - album
          - single
          - compilation
          example: compilation
        total_tracks:
          type: integer
          description: The number of tracks in the album.
          example: 9
        available_markets:
          deprecated: true
          type: array
          items:
            type: string
          example:
          - CA
          - BR
          - IT
          description: 'The markets in which the album is available: [ISO 3166-1 alpha-2 country codes](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). _**NOTE**: an album is considered available in a market when at least 1 of its tracks is available in that market._

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this album.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the album.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the album.

            '
          example: 2up3OPMp9Tb4dAKM2erWXQ
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'The cover art for the album in various sizes, widest first.

            '
        name:
          type: string
          description: 'The name of the album. In case of an album takedown, the value may be an empty string.

            '
        release_date:
          type: string
          example: 1981-12
          description: 'The date the album was first released.

            '
        release_date_precision:
          type: string
          enum:
          - year
          - month
          - day
          example: year
          description: 'The precision with which `release_date` value is known.

            '
        restrictions:
          allOf:
          - $ref: '#/components/schemas/AlbumRestrictionObject'
          description: 'Included in the response when a content restriction is applied.

            '
        type:
          type: string
          enum:
          - album
          description: 'The object type.

            '
        uri:
          type: string
          example: spotify:album:2up3OPMp9Tb4dAKM2erWXQ
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the album.

            '
    EpisodeBase:
      type: object
      required:
      - audio_preview_url
      - description
      - html_description
      - duration_ms
      - explicit
      - external_urls
      - href
      - id
      - images
      - is_externally_hosted
      - is_playable
      - languages
      - name
      - release_date
      - release_date_precision
      - type
      - uri
      properties:
        audio_preview_url:
          deprecated: true
          type: string
          nullable: true
          example: https://p.scdn.co/mp3-preview/2f37da1d4221f40b9d1a98cd191f4d6f1646ad17
          description: 'A URL to a 30 second preview (MP3 format) of the episode. `null` if not available.

            '
          x-spotify-policy-list:
          - $ref: '#/components/x-spotify-policy/policies/StandalonePreview'
        description:
          type: string
          example: 'A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.

            '
          description: 'A description of the episode. HTML tags are stripped away from this field, use `html_description` field in case HTML tags are needed.

            '
        html_description:
          type: string
          example: '<p>A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.</p>

            '
          description: 'A description of the episode. This field may contain HTML tags.

            '
        duration_ms:
          type: integer
          example: 1686230
          description: 'The episode length in milliseconds.

            '
        explicit:
          type: boolean
          description: 'Whether or not the episode has explicit content (true = yes it does; false = no it does not OR unknown).

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'External URLs for this episode.

            '
        href:
          type: string
          example: https://api.spotify.com/v1/episodes/5Xt5DXGzch68nYYamXrNxZ
          description: 'A link to the Web API endpoint providing full details of the episode.

            '
        id:
          type: string
          example: 5Xt5DXGzch68nYYamXrNxZ
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the episode.

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'The cover art for the episode in various sizes, widest first.

            '
        is_externally_hosted:
          type: boolean
          description: 'True if the episode is hosted outside of Spotify''s CDN.

            '
        is_playable:
          type: boolean
          description: 'True if the episode is playable in the given market. Otherwise false.

            '
        language:
          type: string
          deprecated: true
          example: en
          description: 'The language used in the episode, identified by a [ISO 639](https://en.wikipedia.org/wiki/ISO_639) code. This field is deprecated and might be removed in the future. Please use the `languages` field instead.

            '
        languages:
          type: array
          items:
            type: string
          example:
          - fr
          - en
          description: 'A list of the languages used in the episode, identified by their [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639) code.

            '
        name:
          type: string
          example: 'Starting Your Own Podcast: Tips, Tricks, and Advice From Anchor Creators

            '
          description: 'The name of the episode.

            '
        release_date:
          type: string
          example: '1981-12-15'
          description: 'The date the episode was first released, for example `"1981-12-15"`. Depending on the precision, it might be shown as `"1981"` or `"1981-12"`.

            '
        release_date_precision:
          type: string
          example: day
          enum:
          - year
          - month
          - day
          description: 'The precision with which `release_date` value is known.

            '
        resume_point:
          allOf:
          - $ref: '#/components/schemas/ResumePointObject'
          description: 'The user''s most recent position in the episode. Set if the supplied access token is a user token and has the scope ''user-read-playback-position''.

            '
        type:
          type: string
          enum:
          - episode
          description: 'The object type.

            '
        uri:
          type: string
          example: spotify:episode:0zLhl3WsOCQHbe1BPTiHgr
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the episode.

            '
        restrictions:
          allOf:
          - $ref: '#/components/schemas/EpisodeRestrictionObject'
          description: 'Included in the response when a content restriction is applied.

            '
    TimeIntervalObject:
      type: object
      properties:
        start:
          type: number
          description: The starting point (in seconds) of the time interval.
          example: 0.49567
        duration:
          type: number
          description: The duration (in seconds) of the time interval.
          example: 2.18749
        confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the interval.
          example: 0.925
          minimum: 0
          maximum: 1
    Mode:
      type: integer
      example: 0
      description: 'Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.

        '
    RecommendationSeedObject:
      type: object
      x-spotify-docs-type: RecommendationSeedObject
      properties:
        afterFilteringSize:
          type: integer
          description: 'The number of tracks available after min\_\* and max\_\* filters have been applied.

            '
        afterRelinkingSize:
          type: integer
          description: 'The number of tracks available after relinking for regional availability.

            '
        href:
          type: string
          description: 'A link to the full track or artist data for this seed. For tracks this will be a link to a Track Object. For artists a link to an Artist Object. For genre seeds, this value will be `null`.

            '
        id:
          type: string
          description: 'The id used to select this seed. This will be the same as the string used in the `seed_artists`, `seed_tracks` or `seed_genres` parameter.

            '
        initialPoolSize:
          type: integer
          description: 'The number of recommended tracks available for this seed.

            '
        type:
          type: string
          description: 'The entity type of this seed. One of `artist`, `track` or `genre`.

            '
    SimplifiedTrackObject:
      type: object
      x-spotify-docs-type: SimplifiedTrackObject
      properties:
        artists:
          type: array
          items:
            $ref: '#/components/schemas/SimplifiedArtistObject'
          description: The artists who performed the track. Each artist object includes a link in `href` to more detailed information about the artist.
        available_markets:
          deprecated: true
          type: array
          items:
            type: string
          description: 'A list of the countries in which the track can be played, identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.

            '
        disc_number:
          type: integer
          description: The disc number (usually `1` unless the album consists of more than one disc).
        duration_ms:
          type: integer
          description: The track length in milliseconds.
        explicit:
          type: boolean
          description: Whether or not the track has explicit lyrics ( `true` = yes it does; `false` = no it does not OR unknown).
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'External URLs for this track.

            '
        href:
          type: string
          description: A link to the Web API endpoint providing full details of the track.
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.

            '
        is_playable:
          type: boolean
          description: 'Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking/) is applied. If `true`, the track is playable in the given market. Otherwise `false`.

            '
        linked_from:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/LinkedTrackObject'
          description: Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking/) is applied and is only part of the response if the track linking, in fact, exists. The requested track has been replaced with a different track. The track in the `linked_from` object contains information about the originally requested track.
        restrictions:
          allOf:
          - $ref: '#/components/schemas/TrackRestrictionObject'
          description: 'Included in the response when a content restriction is applied.

            '
        name:
          type: string
          description: The name of the track.
        preview_url:
          deprecated: true
          type: string
          nullable: true
          description: 'A URL to a 30 second preview (MP3 format) of the track.

            '
          x-spotify-policy-list:
          - $ref: '#/components/x-spotify-policy/policies/StandalonePreview'
        track_number:
          type: integer
          description: 'The number of the track. If an album has several discs, the track number is the number on the specified disc.

            '
        type:
          type: string
          description: 'The object type: "track".

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.

            '
        is_local:
          type: boolean
          description: 'Whether or not the track is from a local file.

            '
    ExternalUrlObject:
      type: object
      x-spotify-docs-type: ExternalUrlObject
      properties:
        spotify:
          type: string
          description: 'The [Spotify URL](/documentation/web-api/concepts/spotify-uris-ids) for the object.

            '
    AudioAnalysisObject:
      type: object
      x-spotify-docs-type: AudioAnalysisObject
      properties:
        meta:
          type: object
          properties:
            analyzer_version:
              type: string
              example: 4.0.0
              description: The version of the Analyzer used to analyze this track.
            platform:
              type: string
              example: Linux
              description: The platform used to read the track's audio data.
            detailed_status:
              type: string
              example: OK
              description: A detailed status code for this track. If analysis data is missing, this code may explain why.
            status_code:
              type: integer
              example: 0
              description: The return code of the analyzer process. 0 if successful, 1 if any errors occurred.
            timestamp:
              type: integer
              example: 1495193577
              description: The Unix timestamp (in seconds) at which this track was analyzed.
            analysis_time:
              type: number
              example: 6.93906
              description: The amount of time taken to analyze this track.
            input_process:
              type: string
              example: libvorbisfile L+R 44100->22050
              description: The method used to read the track's audio data.
        track:
          type: object
          properties:
            num_samples:
              type: integer
              example: 4585515
              description: The exact number of audio samples analyzed from this track. See also `analysis_sample_rate`.
            duration:
              type: number
              description: Length of the track in seconds.
              example: 207.95985
            sample_md5:
              type: string
              description: This field will always contain the empty string.
            offset_seconds:
              type: integer
              example: 0
              description: An offset to the start of the region of the track that was analyzed. (As the entire track is analyzed, this should always be 0.)
            window_seconds:
              type: integer
              example: 0
              description: The length of the region of the track was analyzed, if a subset of the track was analyzed. (As the entire track is analyzed, this should always be 0.)
            analysis_sample_rate:
              type: integer
              example: 22050
              description: The sample rate used to decode and analyze this track. May differ from the actual sample rate of this track available on Spotify.
            analysis_channels:
              type: integer
              example: 1
              description: The number of channels used for analysis. If 1, all channels are summed together to mono before analysis.
            end_of_fade_in:
              type: number
              example: 0.0
              description: The time, in seconds, at which the track's fade-in period ends. If the track has no fade-in, this will be 0.0.
            start_of_fade_out:
              type: number
              example: 201.13705
              description: The time, in seconds, at which the track's fade-out period starts. If the track has no fade-out, this should match the track's length.
            loudness:
              $ref: '#/components/schemas/Loudness'
            tempo:
              $ref: '#/components/schemas/Tempo'
            tempo_confidence:
              type: number
              example: 0.73
              minimum: 0
              maximum: 1
              description: The confidence, from 0.0 to 1.0, of the reliability of the `tempo`.
            time_signature:
              $ref: '#/components/schemas/TimeSignature'
            time_signature_confidence:
              type: number
              example: 0.994
              minimum: 0
              maximum: 1
              description: The confidence, from 0.0 to 1.0, of the reliability of the `time_signature`.
            key:
              $ref: '#/components/schemas/Key'
            key_confidence:
              type: number
              example: 0.408
              minimum: 0
              maximum: 1
              description: The confidence, from 0.0 to 1.0, of the reliability of the `key`.
            mode:
              $ref: '#/components/schemas/Mode'
            mode_confidence:
              type: number
              example: 0.485
              minimum: 0
              maximum: 1
              description: The confidence, from 0.0 to 1.0, of the reliability of the `mode`.
            codestring:
              type: string
              description: An [Echo Nest Musical Fingerprint (ENMFP)](https://academiccommons.columbia.edu/doi/10.7916/D8Q248M4) codestring for this track.
            code_version:
              type: number
              example: 3.15
              description: A version number for the Echo Nest Musical Fingerprint format used in the codestring field.
            echoprintstring:
              type: string
              description: An [EchoPrint](https://github.com/spotify/echoprint-codegen) codestring for this track.
            echoprint_version:
              type: number
              example: 4.15
              description: A version number for the EchoPrint format used in the echoprintstring field.
            synchstring:
              type: string
              description: A [Synchstring](https://github.com/echonest/synchdata) for this track.
            synch_version:
              type: number
              example: 1.0
              description: A version number for the Synchstring used in the synchstring field.
            rhythmstring:
              type: string
              description: A Rhythmstring for this track. The format of this string is similar to the Synchstring.
            rhythm_version:
              type: number
              example: 1.0
              description: A version number for the Rhythmstring used in the rhythmstring field.
        bars:
          type: array
          description: The time intervals of the bars throughout the track. A bar (or measure) is a segment of time defined as a given number of beats.
          items:
            $ref: '#/components/schemas/TimeIntervalObject'
        beats:
          type: array
          description: The time intervals of beats throughout the track. A beat is the basic time unit of a piece of music; for example, each tick of a metronome. Beats are typically multiples of tatums.
          items:
            $ref: '#/components/schemas/TimeIntervalObject'
        sections:
          type: array
          description: Sections are defined by large variations in rhythm or timbre, e.g. chorus, verse, bridge, guitar solo, etc. Each section contains its own descriptions of tempo, key, mode, time_signature, and loudness.
          items:
            $ref: '#/components/schemas/SectionObject'
        segments:
          type: array
          description: Each segment contains a roughly conisistent sound throughout its duration.
          items:
            $ref: '#/components/schemas/SegmentObject'
        tatums:
          type: array
          description: A tatum represents the lowest regular pulse train that a listener intuitively infers from the timing of perceived musical events (segments).
          items:
            $ref: '#/components/schemas/TimeIntervalObject'
    Tempo:
      type: number
      example: 118.211
      format: float
      x-spotify-docs-type: Float
      description: 'The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.

        '
    PlaylistUserObject:
      type: object
      x-spotify-docs-type: PlaylistUserObject
      properties:
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known public external URLs for this user.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint for this user.

            '
        id:
          type: string
          description: 'The [Spotify user ID](/documentation/web-api/concepts/spotify-uris-ids) for this user.

            '
        type:
          type: string
          enum:
          - user
          description: 'The object type.

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for this user.

            '
    PagingPlaylistTrackObject:
      type: object
      x-spotify-docs-type: PagingPlaylistTrackObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/PlaylistTrackObject'
    SegmentObject:
      type: object
      properties:
        start:
          type: number
          description: The starting point (in seconds) of the segment.
          example: 0.70154
        duration:
          type: number
          description: The duration (in seconds) of the segment.
          example: 0.19891
        confidence:
          type: number
          example: 0.435
          minimum: 0
          maximum: 1
          description: 'The confidence, from 0.0 to 1.0, of the reliability of the segmentation. Segments of the song which are difficult to logically segment (e.g: noise) may correspond to low values in this field.

            '
        loudness_start:
          type: number
          description: The onset loudness of the segment in decibels (dB). Combined with `loudness_max` and `loudness_max_time`, these components can be used to describe the "attack" of the segment.
          example: -23.053
        loudness_max:
          type: number
          description: The peak loudness of the segment in decibels (dB). Combined with `loudness_start` and `loudness_max_time`, these components can be used to describe the "attack" of the segment.
          example: -14.25
        loudness_max_time:
          type: number
          description: The segment-relative offset of the segment peak loudness in seconds. Combined with `loudness_start` and `loudness_max`, these components can be used to desctibe the "attack" of the segment.
          example: 0.07305
        loudness_end:
          type: number
          description: The offset loudness of the segment in decibels (dB). This value should be equivalent to the loudness_start of the following segment.
          example: 0.0
        pitches:
          type: array
          description: 'Pitch content is given by a “chroma” vector, corresponding to the 12 pitch classes C, C#, D to B, with values ranging from 0 to 1 that describe the relative dominance of every pitch in the chromatic scale. For example a C Major chord would likely be represented by large values of C, E and G (i.e. classes 0, 4, and 7).


            Vectors are normalized to 1 by their strongest dimension, therefore noisy sounds are likely represented by values that are all close to 1, while pure tones are described by one value at 1 (the pitch) and others near 0.

            As can be seen below, the 12 vector indices are a combination of low-power spectrum values at their respective pitch frequencies.

            ![pitch vector](/assets/audio/Pitch_vector.png)

            '
          items:
            type: number
            minimum: 0
            maximum: 1
          example:
          - 0.212
          - 0.141
          - 0.294
        timbre:
          type: array
          description: 'Timbre is the quality of a musical note or sound that distinguishes different types of musical instruments, or voices. It is a complex notion also referred to as sound color, texture, or tone quality, and is derived from the shape of a segment’s spectro-temporal surface, independently of pitch and loudness. The timbre feature is a vector that includes 12 unbounded values roughly centered around 0. Those values are high level abstractions of the spectral surface, ordered by degree of importance.


            For completeness however, the first dimension represents the average loudness of the segment; second emphasizes brightness; third is more closely correlated to the flatness of a sound; fourth to sounds with a stronger attack; etc. See an image below representing the 12 basis functions (i.e. template segments).

            ![timbre basis functions](/assets/audio/Timbre_basis_functions.png)


            The actual timbre of the segment is best described as a linear combination of these 12 basis functions weighted by the coefficient values: timbre = c1 x b1 + c2 x b2 + ... + c12 x b12, where c1 to c12 represent the 12 coefficients and b1 to b12 the 12 basis functions as displayed below. Timbre vectors are best used in comparison with each other.

            '
          items:
            type: number
          example:
          - 42.115
          - 64.373
          - -0.233
    Loudness:
      type: number
      example: -5.883
      format: float
      x-spotify-docs-type: Float
      description: 'The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typically range between -60 and 0 db.

        '
    ErrorObject:
      type: object
      x-spotify-docs-type: ErrorObject
      required:
      - status
      - message
      properties:
        status:
          type: integer
          minimum: 400
          maximum: 599
          description: 'The HTTP status code (also returned in the response header; see [Response Status Codes](/documentation/web-api/concepts/api-calls#response-status-codes) for more information).

            '
        message:
          type: string
          description: 'A short description of the cause of the error.

            '
    SectionObject:
      type: object
      properties:
        start:
          type: number
          description: The starting point (in seconds) of the section.
          example: 0.0
        duration:
          type: number
          description: The duration (in seconds) of the section.
          example: 6.97092
        confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the section's "designation".
          example: 1.0
          minimum: 0
          maximum: 1
        loudness:
          type: number
          description: The overall loudness of the section in decibels (dB). Loudness values are useful for comparing relative loudness of sections within tracks.
          example: -14.938
        tempo:
          type: number
          description: The overall estimated tempo of the section in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
          example: 113.178
        tempo_confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the tempo. Some tracks contain tempo changes or sounds which don't contain tempo (like pure speech) which would correspond to a low value in this field.
          example: 0.647
          minimum: 0
          maximum: 1
        key:
          type: integer
          description: The estimated overall key of the section. The values in this field ranging from 0 to 11 mapping to pitches using standard Pitch Class notation (E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on). If no key was detected, the value is -1.
          example: 9
        key_confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the key. Songs with many key changes may correspond to low values in this field.
          example: 0.297
          minimum: 0
          maximum: 1
        mode:
          type: number
          description: Indicates the modality (major or minor) of a section, the type of scale from which its melodic content is derived. This field will contain a 0 for "minor", a 1 for "major", or a -1 for no result. Note that the major key (e.g. C major) could more likely be confused with the minor key at 3 semitones lower (e.g. A minor) as both keys carry the same pitches.
          enum:
          - -1
          - 0
          - 1
        mode_confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the `mode`.
          example: 0.471
          minimum: 0
          maximum: 1
        time_signature:
          $ref: '#/components/schemas/TimeSignature'
        time_signature_confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the `time_signature`. Sections with time signature changes may correspond to low values in this field.
          example: 1.0
          minimum: 0
          maximum: 1
    ImageObject:
      type: object
      x-spotify-docs-type: ImageObject
      required:
      - url
      - height
      - width
      properties:
        url:
          type: string
          example: 'https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228

            '
          description: 'The source URL of the image.

            '
        height:
          type: integer
          example: 300
          nullable: true
          description: 'The image height in pixels.

            '
        width:
          type: integer
          example: 300
          nullable: true
          description: 'The image width in pixels.

            '
    ArtistObject:
      type: object
      x-spotify-docs-type: ArtistObject
      properties:
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this artist.

            '
        followers:
          deprecated: true
          allOf:
          - $ref: '#/components/schemas/FollowersObject'
          description: 'Information about the followers of the artist.

            '
        genres:
          deprecated: true
          type: array
          items:
            type: string
          example:
          - Prog rock
          - Grunge
          description: 'A list of the genres the artist is associated with. If not yet classified, the array is empty.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the artist.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.

            '
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'Images of the artist in various sizes, widest first.

            '
        name:
          type: string
          description: 'The name of the artist.

            '
        popularity:
          deprecated: true
          type: integer
          description: 'The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist''s popularity is calculated from the popularity of all the artist''s tracks.

            '
        type:
          type: string
          enum:
          - artist
          description: 'The object type.

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.

            '
    Key:
      type: integer
      example: 9
      minimum: -1
      maximum: 11
[...]
