openapi: 3.2.0
info:
  description: You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more.
  version: 1.0.0
  title: Spotify Web Tracks API
  termsOfService: https://developer.spotify.com/terms/
  contact:
    name: Spotify for Developers Community
    url: https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer
servers:
- url: https://api.spotify.com/v1
tags:
- name: Tracks
paths:
  /tracks/{id}:
    get:
      tags:
      - Tracks
      operationId: get-track
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: Get Track
      description: 'Get Spotify catalog information for a single track identified by its

        unique Spotify ID.'
      parameters:
      - name: id
        required: true
        in: path
        schema:
          title: Spotify Track ID
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)

            for the track.

            '
          example: 11dFghVXANMlKmJXsNCbNl
          type: string
      - $ref: '#/components/parameters/QueryMarket'
      responses:
        '200':
          $ref: '#/components/responses/OneTrack'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /tracks:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-several-tracks
      x-spotify-policy-list:
        $ref: '#/components/x-spotify-policy/metadataWithMachineLearningPolicyList'
      summary: Get Several Tracks
      description: Get Spotify catalog information for multiple tracks based on their Spotify IDs.
      parameters:
      - $ref: '#/components/parameters/QueryMarket'
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify Track IDs
          description: 'A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M`. Maximum: 50 IDs.

            '
          example: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ManyTracks'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /me/tracks:
    get:
      tags:
      - Tracks
      operationId: get-users-saved-tracks
      summary: Get User's Saved Tracks
      description: Get a list of the songs saved in the current Spotify user's 'Your Music' library.
      parameters:
      - $ref: '#/components/parameters/QueryMarket'
      - $ref: '#/components/parameters/QueryLimit'
      - $ref: '#/components/parameters/QueryOffset'
      responses:
        '200':
          $ref: '#/components/responses/PagingSavedTrackObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
    put:
      deprecated: true
      tags:
      - Tracks
      operationId: save-tracks-user
      summary: Save Tracks for Current User
      description: 'Save one or more tracks to the current user''s ''Your Music'' library.


        **Note:** This endpoint is deprecated. Use Save Items to Library instead.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              required:
              - uris
              properties:
                ids:
                  type: array
                  description: 'A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `timestamped_ids` is present in the body, any IDs listed in the query parameters (deprecated) or the `ids` field in the body will be ignored._

                    '
                  items:
                    type: string
                timestamped_ids:
                  type: array
                  description: 'A JSON array of objects containing track IDs with their corresponding timestamps. Each object must include a track ID and an `added_at` timestamp. This allows you to specify when tracks were added to maintain a specific chronological order in the user''s library.<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `timestamped_ids` is present in the body, any IDs listed in the query parameters (deprecated) or the `ids` field in the body will be ignored._

                    '
                  items:
                    type: object
                    required:
                    - id
                    - added_at
                    properties:
                      id:
                        type: string
                        description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.

                          '
                      added_at:
                        type: string
                        format: date-time
                        x-spotify-docs-type: Timestamp
                        description: 'The timestamp when the track was added to the library. Use ISO 8601 format with UTC timezone (e.g., `2023-01-15T14:30:00Z`). You can specify past timestamps to insert tracks at specific positions in the library''s chronological order. The API uses minute-level granularity for ordering, though the timestamp supports millisecond precision.

                          '
      responses:
        '200':
          description: Track saved
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
    delete:
      deprecated: true
      tags:
      - Tracks
      operationId: remove-tracks-user
      summary: Remove User's Saved Tracks
      description: 'Remove one or more tracks from the current user''s ''Your Music'' library.


        **Note:** This endpoint is deprecated. Use Remove Items from Library instead.'
      parameters:
      - $ref: '#/components/parameters/QueryTrackIds'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                ids:
                  type: array
                  description: 'A JSON array of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `["4iV5W9uYEdYUVa79Axb7Rh", "1301WleyT98MSxVHPZCA6M"]`<br/>A maximum of 50 items can be specified in one request. _**Note**: if the `ids` parameter is present in the query string, any IDs listed here in the body will be ignored._

                    '
                  items:
                    type: string
      responses:
        '200':
          description: Track removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-modify
  /me/tracks/contains:
    get:
      tags:
      - Tracks
      operationId: check-users-saved-tracks
      summary: Check User's Saved Tracks
      deprecated: true
      description: 'Check if one or more tracks is already saved in the current Spotify user''s ''Your Music'' library.


        **Note:** This endpoint is deprecated. Use Check User''s Saved Items instead.'
      parameters:
      - $ref: '#/components/parameters/QueryTrackIds'
      responses:
        '200':
          $ref: '#/components/responses/ArrayOfBooleans'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0:
        - user-library-read
  /audio-features:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-several-audio-features
      x-spotify-policy-list:
      - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
      summary: Get Several Tracks' Audio Features
      description: Get audio features for multiple tracks based on their Spotify IDs.
      parameters:
      - name: ids
        required: true
        in: query
        schema:
          title: Spotify Track IDs
          description: 'A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids)

            for the tracks. Maximum: 100 IDs.

            '
          example: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B
          type: string
      responses:
        '200':
          $ref: '#/components/responses/ManyAudioFeatures'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /audio-features/{id}:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-audio-features
      x-spotify-policy-list:
      - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
      summary: Get Track's Audio Features
      description: 'Get audio feature information for a single track identified by its unique

        Spotify ID.'
      parameters:
      - name: id
        required: true
        in: path
        schema:
          title: Spotify Track ID
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.

            '
          example: 11dFghVXANMlKmJXsNCbNl
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OneAudioFeatures'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /audio-analysis/{id}:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-audio-analysis
      summary: Get Track's Audio Analysis
      description: Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track’s structure and musical content, including rhythm, pitch, and timbre.
      parameters:
      - name: id
        required: true
        in: path
        schema:
          title: Spotify Track ID
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids)

            for the track.

            '
          example: 11dFghVXANMlKmJXsNCbNl
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OneAudioAnalysis'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
  /recommendations:
    get:
      deprecated: true
      tags:
      - Tracks
      operationId: get-recommendations
      x-spotify-policy-list:
      - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
      summary: Get Recommendations
      description: 'Recommendations are generated based on the available information for a given seed entity and matched against similar artists and tracks. If there is sufficient information about the provided seeds, a list of tracks will be returned together with pool size details.


        For artists and tracks that are very new or obscure there might not be enough data to generate a list of tracks.'
      parameters:
      - name: limit
        required: false
        in: query
        schema:
          title: Limit
          description: 'The target size of the list of recommended tracks. For seeds with unusually small pools or when highly restrictive filtering is applied, it may be impossible to generate the requested number of recommended tracks. Debugging information for such cases is available in the response. Default: 20\. Minimum: 1\. Maximum: 100.

            '
          default: 20
          example: 10
          type: integer
          minimum: 1
          maximum: 100
      - $ref: '#/components/parameters/QueryMarket'
      - name: seed_artists
        required: true
        in: query
        schema:
          title: Spotify Artist ID Seeds
          description: 'A comma separated list of [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for seed artists.  Up to 5 seed values may be provided in any combination of `seed_artists`, `seed_tracks` and `seed_genres`.<br/> _**Note**: only required if `seed_genres` and `seed_tracks` are not set_.

            '
          example: 4NHQUGzhtTLFvgF5SZesLK
          type: string
      - name: seed_genres
        required: true
        in: query
        schema:
          title: Genres Seeds
          description: 'A comma separated list of any genres in the set of [available genre seeds](/documentation/web-api/reference/get-recommendation-genres). Up to 5 seed values may be provided in any combination of `seed_artists`, `seed_tracks` and `seed_genres`.<br/> _**Note**: only required if `seed_artists` and `seed_tracks` are not set_.

            '
          example: classical,country
          type: string
      - name: seed_tracks
        required: true
        in: query
        schema:
          title: Spotify Track ID Seeds
          description: 'A comma separated list of [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids) for a seed track.  Up to 5 seed values may be provided in any combination of `seed_artists`, `seed_tracks` and `seed_genres`.<br/> _**Note**: only required if `seed_artists` and `seed_genres` are not set_.

            '
          example: 0c6xIDDpzE81m2q797ordA
          type: string
      - name: min_acousticness
        required: false
        in: query
        schema:
          title: Min. Acousticness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_acousticness
        required: false
        in: query
        schema:
          title: Max. Acousticness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_acousticness
        required: false
        in: query
        schema:
          title: Target Acousticness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_danceability
        required: false
        in: query
        schema:
          title: Min. Danceability
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_danceability
        required: false
        in: query
        schema:
          title: Max. Danceability
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_danceability
        required: false
        in: query
        schema:
          title: Target Danceability
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_duration_ms
        required: false
        in: query
        schema:
          title: Min. Duration (ms)
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
      - name: max_duration_ms
        required: false
        in: query
        schema:
          title: Max. Duration (ms)
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
      - name: target_duration_ms
        required: false
        in: query
        schema:
          title: Target Duration (ms)
          description: Target duration of the track (ms)
          type: integer
      - name: min_energy
        required: false
        in: query
        schema:
          title: Min. Energy
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_energy
        required: false
        in: query
        schema:
          title: Max. Energy
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_energy
        required: false
        in: query
        schema:
          title: Target Energy
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_instrumentalness
        required: false
        in: query
        schema:
          title: Min. Instrumentalness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_instrumentalness
        required: false
        in: query
        schema:
          title: Max. Instrumentalness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_instrumentalness
        required: false
        in: query
        schema:
          title: Target Instrumentalness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_key
        required: false
        in: query
        schema:
          title: Min. Key
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
          minimum: 0
          maximum: 11
      - name: max_key
        required: false
        in: query
        schema:
          title: Max. Key
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
          minimum: 0
          maximum: 11
      - name: target_key
        required: false
        in: query
        schema:
          title: Target Key
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: integer
          minimum: 0
          maximum: 11
      - name: min_liveness
        required: false
        in: query
        schema:
          title: Min. Liveness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_liveness
        required: false
        in: query
        schema:
          title: Max. Liveness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_liveness
        required: false
        in: query
        schema:
          title: Target Liveness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_loudness
        required: false
        in: query
        schema:
          title: Min. Loudness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
      - name: max_loudness
        required: false
        in: query
        schema:
          title: Max. Loudness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
      - name: target_loudness
        required: false
        in: query
        schema:
          title: Target Loudness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
      - name: min_mode
        required: false
        in: query
        schema:
          title: Min. Mode
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
          minimum: 0
          maximum: 1
      - name: max_mode
        required: false
        in: query
        schema:
          title: Max. Mode
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
          minimum: 0
          maximum: 1
      - name: target_mode
        required: false
        in: query
        schema:
          title: Target Mode
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: integer
          minimum: 0
          maximum: 1
      - name: min_popularity
        required: false
        in: query
        schema:
          title: Min. Popularity
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
          minimum: 0
          maximum: 100
      - name: max_popularity
        required: false
        in: query
        schema:
          title: Max. Popularity
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
          minimum: 0
          maximum: 100
      - name: target_popularity
        required: false
        in: query
        schema:
          title: Target Popularity
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: integer
          minimum: 0
          maximum: 100
      - name: min_speechiness
        required: false
        in: query
        schema:
          title: Min. Speechiness
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_speechiness
        required: false
        in: query
        schema:
          title: Max. Speechiness
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_speechiness
        required: false
        in: query
        schema:
          title: Target Speechiness
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: min_tempo
        required: false
        in: query
        schema:
          title: Min. Tempo
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
      - name: max_tempo
        required: false
        in: query
        schema:
          title: Max. Tempo
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
      - name: target_tempo
        required: false
        in: query
        schema:
          title: Target Tempo
          description: Target tempo (BPM)
          type: number
      - name: min_time_signature
        required: false
        in: query
        schema:
          title: Min. Time Signature
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: integer
          maximum: 11
      - name: max_time_signature
        required: false
        in: query
        schema:
          title: Max. Time Signature
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: integer
      - name: target_time_signature
        required: false
        in: query
        schema:
          title: Target Time Signature
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: integer
      - name: min_valence
        required: false
        in: query
        schema:
          title: Min. Valence
          description: 'For each tunable track attribute, a hard floor on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `min_tempo=140` would restrict results to only those tracks with a tempo of greater than 140 beats per minute.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: max_valence
        required: false
        in: query
        schema:
          title: Max. Valence
          description: 'For each tunable track attribute, a hard ceiling on the selected track attribute’s value can be provided. See tunable track attributes below for the list of available options. For example, `max_instrumentalness=0.35` would filter out most tracks that are likely to be instrumental.

            '
          type: number
          minimum: 0
          maximum: 1
      - name: target_valence
        required: false
        in: query
        schema:
          title: Target Valence
          description: 'For each of the tunable track attributes (below) a target value may be provided. Tracks with the attribute values nearest to the target values will be preferred. For example, you might request `target_energy=0.6` and `target_danceability=0.8`. All target values will be weighed equally in ranking results.

            '
          type: number
          minimum: 0
          maximum: 1
      responses:
        '200':
          $ref: '#/components/responses/OneRecommendations'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      security:
      - oauth_2_0: []
components:
  parameters:
    QueryTrackIds:
      name: ids
      required: true
      in: query
      schema:
        title: Spotify Track IDs
        description: 'A comma-separated list of the [Spotify IDs](/documentation/web-api/concepts/spotify-uris-ids). For example: `ids=4iV5W9uYEdYUVa79Axb7Rh,1301WleyT98MSxVHPZCA6M`. Maximum: 50 IDs.

          '
        example: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B
        type: string
    QueryOffset:
      name: offset
      required: false
      in: query
      schema:
        title: Offset
        description: 'The index of the first item to return. Default: 0 (the first item). Use with limit to get the next set of items.

          '
        default: 0
        example: 5
        type: integer
    QueryMarket:
      name: market
      required: false
      in: query
      schema:
        title: Market
        description: "An [ISO 3166-1 alpha-2 country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).\n  If a country code is specified, only content that is available in that market will be returned.<br/>\n  If a valid user access token is specified in the request header, the country associated with\n  the user account will take priority over this parameter.<br/>\n  _**Note**: If neither market or user country are provided, the content is considered unavailable for the client._<br/>\n  Users can view the country that is associated with their account in the [account settings](https://www.spotify.com/account/overview/).\n"
        example: ES
        type: string
    QueryLimit:
      name: limit
      required: false
      in: query
      schema:
        title: Limit
        description: 'The maximum number of items to return. Default: 20. Minimum: 1. Maximum: 50.

          '
        default: 20
        example: 10
        type: integer
        minimum: 0
        maximum: 50
  x-spotify-policy:
    metadataWithMachineLearningPolicyList:
    - $ref: '#/components/x-spotify-policy/policies/Downloading'
    - $ref: '#/components/x-spotify-policy/policies/VisualAlteration'
    - $ref: '#/components/x-spotify-policy/policies/Attribution'
    - $ref: '#/components/x-spotify-policy/policies/MachineLearning'
  schemas:
    Loudness:
      type: number
      example: -5.883
      format: float
      x-spotify-docs-type: Float
      description: 'The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typically range between -60 and 0 db.

        '
    RecommendationSeedObject:
      type: object
      x-spotify-docs-type: RecommendationSeedObject
      properties:
        afterFilteringSize:
          type: integer
          description: 'The number of tracks available after min\_\* and max\_\* filters have been applied.

            '
        afterRelinkingSize:
          type: integer
          description: 'The number of tracks available after relinking for regional availability.

            '
        href:
          type: string
          description: 'A link to the full track or artist data for this seed. For tracks this will be a link to a Track Object. For artists a link to an Artist Object. For genre seeds, this value will be `null`.

            '
        id:
          type: string
          description: 'The id used to select this seed. This will be the same as the string used in the `seed_artists`, `seed_tracks` or `seed_genres` parameter.

            '
        initialPoolSize:
          type: integer
          description: 'The number of recommended tracks available for this seed.

            '
        type:
          type: string
          description: 'The entity type of this seed. One of `artist`, `track` or `genre`.

            '
    AlbumRestrictionObject:
      type: object
      x-spotify-docs-type: AlbumRestrictionObject
      properties:
        reason:
          type: string
          enum:
          - market
          - product
          - explicit
          description: 'The reason for the restriction. Albums may be restricted if the content is not available in a given market, to the user''s subscription type, or when the user''s account is set to not play explicit content.

            Additional reasons may be added in the future.

            '
    TrackObject:
      type: object
      x-spotify-docs-type: TrackObject
      properties:
        album:
          allOf:
          - $ref: '#/components/schemas/SimplifiedAlbumObject'
          description: 'The album on which the track appears. The album object includes a link in `href` to full information about the album.

            '
        artists:
          type: array
          items:
            $ref: '#/components/schemas/SimplifiedArtistObject'
          description: 'The artists who performed the track. Each artist object includes a link in `href` to more detailed information about the artist.

            '
        available_markets:
          deprecated: true
          type: array
          items:
            type: string
          description: 'A list of the countries in which the track can be played, identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.

            '
        disc_number:
          type: integer
          description: 'The disc number (usually `1` unless the album consists of more than one disc).

            '
        duration_ms:
          type: integer
          description: 'The track length in milliseconds.

            '
        explicit:
          type: boolean
          description: 'Whether or not the track has explicit lyrics ( `true` = yes it does; `false` = no it does not OR unknown).

            '
        external_ids:
          allOf:
          - $ref: '#/components/schemas/ExternalIdObject'
          description: 'Known external IDs for the track.

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this track.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the track.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.

            '
        is_playable:
          type: boolean
          description: 'Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied. If `true`, the track is playable in the given market. Otherwise `false`.

            '
        linked_from:
          deprecated: true
          type: object
          description: 'Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied, and the requested track has been replaced with different track. The track in the `linked_from` object contains information about the originally requested track.

            '
        restrictions:
          allOf:
          - $ref: '#/components/schemas/TrackRestrictionObject'
          description: 'Included in the response when a content restriction is applied.

            '
        name:
          type: string
          description: 'The name of the track.

            '
        popularity:
          deprecated: true
          type: integer
          description: 'The popularity of the track. The value will be between 0 and 100, with 100 being the most popular.<br/>The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.<br/>Generally speaking, songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past. Duplicate tracks (e.g. the same track from a single and an album) are rated independently. Artist and album popularity is derived mathematically from track popularity. _**Note**: the popularity value may lag actual popularity by a few days: the value is not updated in real time._

            '
        preview_url:
          deprecated: true
          type:
          - string
          - 'null'
          description: 'A link to a 30 second preview (MP3 format) of the track. Can be `null`

            '
          x-spotify-policy-list:
          - $ref: '#/components/x-spotify-policy/policies/StandalonePreview'
        track_number:
          type: integer
          description: 'The number of the track. If an album has several discs, the track number is the number on the specified disc.

            '
        type:
          type: string
          description: 'The object type: "track".

            '
          enum:
          - track
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.

            '
        is_local:
          type: boolean
          description: 'Whether or not the track is from a local file.

            '
    TimeSignature:
      type: integer
      description: An estimated time signature. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure). The time signature ranges from 3 to 7 indicating time signatures of "3/4", to "7/4".
      example: 4
      minimum: 3
      maximum: 7
    AudioFeaturesObject:
      type: object
      x-spotify-docs-type: AudioFeaturesObject
      properties:
        acousticness:
          type: number
          format: float
          example: 0.00242
          minimum: 0.0
          maximum: 1.0
          x-spotify-docs-type: Float
          description: 'A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.

            '
        analysis_url:
          type: string
          example: 'https://api.spotify.com/v1/audio-analysis/2takcwOaAZWiXQijPHIx7B

            '
          description: 'A URL to access the full audio analysis of this track. An access token is required to access this data.

            '
        danceability:
          type: number
          example: 0.585
          format: float
          x-spotify-docs-type: Float
          description: 'Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.

            '
        duration_ms:
          type: integer
          example: 237040
          description: 'The duration of the track in milliseconds.

            '
        energy:
          type: number
          example: 0.842
          format: float
          x-spotify-docs-type: Float
          description: 'Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.

            '
        id:
          type: string
          example: 2takcwOaAZWiXQijPHIx7B
          description: 'The Spotify ID for the track.

            '
        instrumentalness:
          type: number
          example: 0.00686
          format: float
          x-spotify-docs-type: Float
          description: 'Predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.

            '
        key:
          $ref: '#/components/schemas/Key'
        liveness:
          type: number
          example: 0.0866
          format: float
          x-spotify-docs-type: Float
          description: 'Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.

            '
        loudness:
          $ref: '#/components/schemas/Loudness'
        mode:
          $ref: '#/components/schemas/Mode'
        speechiness:
          type: number
          example: 0.0556
          format: float
          x-spotify-docs-type: Float
          description: 'Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.

            '
        tempo:
          $ref: '#/components/schemas/Tempo'
        time_signature:
          $ref: '#/components/schemas/TimeSignature'
        track_href:
          type: string
          example: 'https://api.spotify.com/v1/tracks/2takcwOaAZWiXQijPHIx7B

            '
          description: 'A link to the Web API endpoint providing full details of the track.

            '
        type:
          type: string
          enum:
          - audio_features
          description: 'The object type.

            '
        uri:
          type: string
          example: spotify:track:2takcwOaAZWiXQijPHIx7B
          description: 'The Spotify URI for the track.

            '
        valence:
          type: number
          example: 0.428
          minimum: 0
          maximum: 1
          format: float
          x-spotify-docs-type: Float
          description: 'A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).

            '
    ErrorObject:
      type: object
      x-spotify-docs-type: ErrorObject
      required:
      - status
      - message
      properties:
        status:
          type: integer
          minimum: 400
          maximum: 599
          description: 'The HTTP status code (also returned in the response header; see [Response Status Codes](/documentation/web-api/concepts/api-calls#response-status-codes) for more information).

            '
        message:
          type: string
          description: 'A short description of the cause of the error.

            '
    PagingObject:
      type: object
      x-spotify-docs-type: PagingObject
      required:
      - href
      - items
      - limit
      - next
      - offset
      - previous
      - total
      properties:
        href:
          type: string
          example: 'https://api.spotify.com/v1/me/shows?offset=0&limit=20

            '
          description: 'A link to the Web API endpoint returning the full result of the request

            '
        limit:
          type: integer
          example: 20
          description: 'The maximum number of items in the response (as set in the query or by default).

            '
        next:
          type:
          - string
          - 'null'
          example: https://api.spotify.com/v1/me/shows?offset=1&limit=1
          description: 'URL to the next page of items. ( `null` if none)

            '
        offset:
          type: integer
          example: 0
          description: 'The offset of the items returned (as set in the query or by default)

            '
        previous:
          type:
          - string
          - 'null'
          example: https://api.spotify.com/v1/me/shows?offset=1&limit=1
          description: 'URL to the previous page of items. ( `null` if none)

            '
        total:
          type: integer
          example: 4
          description: 'The total number of items available to return.

            '
    SimplifiedArtistObject:
      type: object
      x-spotify-docs-type: SimplifiedArtistObject
      properties:
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this artist.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the artist.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.

            '
        name:
          type: string
          description: 'The name of the artist.

            '
        type:
          type: string
          enum:
          - artist
          description: 'The object type.

            '
        uri:
          type: string
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.

            '
    PagingSavedTrackObject:
      type: object
      x-spotify-docs-type: PagingTrackObject
      allOf:
      - $ref: '#/components/schemas/PagingObject'
      - type: object
        properties:
          items:
            type: array
            items:
              $ref: '#/components/schemas/SavedTrackObject'
    SegmentObject:
      type: object
      properties:
        start:
          type: number
          description: The starting point (in seconds) of the segment.
          example: 0.70154
        duration:
          type: number
          description: The duration (in seconds) of the segment.
          example: 0.19891
        confidence:
          type: number
          example: 0.435
          minimum: 0
          maximum: 1
          description: 'The confidence, from 0.0 to 1.0, of the reliability of the segmentation. Segments of the song which are difficult to logically segment (e.g: noise) may correspond to low values in this field.

            '
        loudness_start:
          type: number
          description: The onset loudness of the segment in decibels (dB). Combined with `loudness_max` and `loudness_max_time`, these components can be used to describe the "attack" of the segment.
          example: -23.053
        loudness_max:
          type: number
          description: The peak loudness of the segment in decibels (dB). Combined with `loudness_start` and `loudness_max_time`, these components can be used to describe the "attack" of the segment.
          example: -14.25
        loudness_max_time:
          type: number
          description: The segment-relative offset of the segment peak loudness in seconds. Combined with `loudness_start` and `loudness_max`, these components can be used to desctibe the "attack" of the segment.
          example: 0.07305
        loudness_end:
          type: number
          description: The offset loudness of the segment in decibels (dB). This value should be equivalent to the loudness_start of the following segment.
          example: 0.0
        pitches:
          type: array
          description: 'Pitch content is given by a “chroma” vector, corresponding to the 12 pitch classes C, C#, D to B, with values ranging from 0 to 1 that describe the relative dominance of every pitch in the chromatic scale. For example a C Major chord would likely be represented by large values of C, E and G (i.e. classes 0, 4, and 7).


            Vectors are normalized to 1 by their strongest dimension, therefore noisy sounds are likely represented by values that are all close to 1, while pure tones are described by one value at 1 (the pitch) and others near 0.

            As can be seen below, the 12 vector indices are a combination of low-power spectrum values at their respective pitch frequencies.

            ![pitch vector](/assets/audio/Pitch_vector.png)

            '
          items:
            type: number
            minimum: 0
            maximum: 1
          example:
          - 0.212
          - 0.141
          - 0.294
        timbre:
          type: array
          description: 'Timbre is the quality of a musical note or sound that distinguishes different types of musical instruments, or voices. It is a complex notion also referred to as sound color, texture, or tone quality, and is derived from the shape of a segment’s spectro-temporal surface, independently of pitch and loudness. The timbre feature is a vector that includes 12 unbounded values roughly centered around 0. Those values are high level abstractions of the spectral surface, ordered by degree of importance.


            For completeness however, the first dimension represents the average loudness of the segment; second emphasizes brightness; third is more closely correlated to the flatness of a sound; fourth to sounds with a stronger attack; etc. See an image below representing the 12 basis functions (i.e. template segments).

            ![timbre basis functions](/assets/audio/Timbre_basis_functions.png)


            The actual timbre of the segment is best described as a linear combination of these 12 basis functions weighted by the coefficient values: timbre = c1 x b1 + c2 x b2 + ... + c12 x b12, where c1 to c12 represent the 12 coefficients and b1 to b12 the 12 basis functions as displayed below. Timbre vectors are best used in comparison with each other.

            '
          items:
            type: number
          example:
          - 42.115
          - 64.373
          - -0.233
    ExternalUrlObject:
      type: object
      x-spotify-docs-type: ExternalUrlObject
      properties:
        spotify:
          type: string
          description: 'The [Spotify URL](/documentation/web-api/concepts/spotify-uris-ids) for the object.

            '
    ImageObject:
      type: object
      x-spotify-docs-type: ImageObject
      required:
      - url
      - height
      - width
      properties:
        url:
          type: string
          example: 'https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228

            '
          description: 'The source URL of the image.

            '
        height:
          type:
          - integer
          - 'null'
          example: 300
          description: 'The image height in pixels.

            '
        width:
          type:
          - integer
          - 'null'
          example: 300
          description: 'The image width in pixels.

            '
    ExternalIdObject:
      type: object
      x-spotify-docs-type: ExternalIdObject
      properties:
        isrc:
          type: string
          description: '[International Standard Recording Code](http://en.wikipedia.org/wiki/International_Standard_Recording_Code)

            '
        ean:
          type: string
          description: '[International Article Number](http://en.wikipedia.org/wiki/International_Article_Number_%28EAN%29)

            '
        upc:
          type: string
          description: '[Universal Product Code](http://en.wikipedia.org/wiki/Universal_Product_Code)

            '
    SimplifiedAlbumObject:
      x-spotify-docs-type: SimplifiedAlbumObject
      allOf:
      - $ref: '#/components/schemas/AlbumBase'
      - type: object
        required:
        - artists
        properties:
          artists:
            type: array
            items:
              $ref: '#/components/schemas/SimplifiedArtistObject'
            description: 'The artists of the album. Each artist object includes a link in `href` to more detailed information about the artist.

              '
    AudioAnalysisObject:
      type: object
      x-spotify-docs-type: AudioAnalysisObject
      properties:
        meta:
          type: object
          properties:
            analyzer_version:
              type: string
              example: 4.0.0
              description: The version of the Analyzer used to analyze this track.
            platform:
              type: string
              example: Linux
              description: The platform used to read the track's audio data.
            detailed_status:
              type: string
              example: OK
              description: A detailed status code for this track. If analysis data is missing, this code may explain why.
            status_code:
              type: integer
              example: 0
              description: The return code of the analyzer process. 0 if successful, 1 if any errors occurred.
            timestamp:
              type: integer
              example: 1495193577
              description: The Unix timestamp (in seconds) at which this track was analyzed.
            analysis_time:
              type: number
              example: 6.93906
              description: The amount of time taken to analyze this track.
            input_process:
              type: string
              example: libvorbisfile L+R 44100->22050
              description: The method used to read the track's audio data.
        track:
          type: object
          properties:
            num_samples:
              type: integer
              example: 4585515
              description: The exact number of audio samples analyzed from this track. See also `analysis_sample_rate`.
            duration:
              type: number
              description: Length of the track in seconds.
              example: 207.95985
            sample_md5:
              type: string
              description: This field will always contain the empty string.
            offset_seconds:
              type: integer
              example: 0
              description: An offset to the start of the region of the track that was analyzed. (As the entire track is analyzed, this should always be 0.)
            window_seconds:
              type: integer
              example: 0
              description: The length of the region of the track was analyzed, if a subset of the track was analyzed. (As the entire track is analyzed, this should always be 0.)
            analysis_sample_rate:
              type: integer
              example: 22050
              description: The sample rate used to decode and analyze this track. May differ from the actual sample rate of this track available on Spotify.
            analysis_channels:
              type: integer
              example: 1
              description: The number of channels used for analysis. If 1, all channels are summed together to mono before analysis.
            end_of_fade_in:
              type: number
              example: 0.0
              description: The time, in seconds, at which the track's fade-in period ends. If the track has no fade-in, this will be 0.0.
            start_of_fade_out:
              type: number
              example: 201.13705
              description: The time, in seconds, at which the track's fade-out period starts. If the track has no fade-out, this should match the track's length.
            loudness:
              $ref: '#/components/schemas/Loudness'
            tempo:
              $ref: '#/components/schemas/Tempo'
            tempo_confidence:
              type: number
              example: 0.73
              minimum: 0
              maximum: 1
              description: The confidence, from 0.0 to 1.0, of the reliability of the `tempo`.
            time_signature:
              $ref: '#/components/schemas/TimeSignature'
            time_signature_confidence:
              type: number
              example: 0.994
              minimum: 0
              maximum: 1
              description: The confidence, from 0.0 to 1.0, of the reliability of the `time_signature`.
            key:
              $ref: '#/components/schemas/Key'
            key_confidence:
              type: number
              example: 0.408
              minimum: 0
              maximum: 1
              description: The confidence, from 0.0 to 1.0, of the reliability of the `key`.
            mode:
              $ref: '#/components/schemas/Mode'
            mode_confidence:
              type: number
              example: 0.485
              minimum: 0
              maximum: 1
              description: The confidence, from 0.0 to 1.0, of the reliability of the `mode`.
            codestring:
              type: string
              description: An [Echo Nest Musical Fingerprint (ENMFP)](https://academiccommons.columbia.edu/doi/10.7916/D8Q248M4) codestring for this track.
            code_version:
              type: number
              example: 3.15
              description: A version number for the Echo Nest Musical Fingerprint format used in the codestring field.
            echoprintstring:
              type: string
              description: An [EchoPrint](https://github.com/spotify/echoprint-codegen) codestring for this track.
            echoprint_version:
              type: number
              example: 4.15
              description: A version number for the EchoPrint format used in the echoprintstring field.
            synchstring:
              type: string
              description: A [Synchstring](https://github.com/echonest/synchdata) for this track.
            synch_version:
              type: number
              example: 1.0
              description: A version number for the Synchstring used in the synchstring field.
            rhythmstring:
              type: string
              description: A Rhythmstring for this track. The format of this string is similar to the Synchstring.
            rhythm_version:
              type: number
              example: 1.0
              description: A version number for the Rhythmstring used in the rhythmstring field.
        bars:
          type: array
          description: The time intervals of the bars throughout the track. A bar (or measure) is a segment of time defined as a given number of beats.
          items:
            $ref: '#/components/schemas/TimeIntervalObject'
        beats:
          type: array
          description: The time intervals of beats throughout the track. A beat is the basic time unit of a piece of music; for example, each tick of a metronome. Beats are typically multiples of tatums.
          items:
            $ref: '#/components/schemas/TimeIntervalObject'
        sections:
          type: array
          description: Sections are defined by large variations in rhythm or timbre, e.g. chorus, verse, bridge, guitar solo, etc. Each section contains its own descriptions of tempo, key, mode, time_signature, and loudness.
          items:
            $ref: '#/components/schemas/SectionObject'
        segments:
          type: array
          description: Each segment contains a roughly conisistent sound throughout its duration.
          items:
            $ref: '#/components/schemas/SegmentObject'
        tatums:
          type: array
          description: A tatum represents the lowest regular pulse train that a listener intuitively infers from the timing of perceived musical events (segments).
          items:
            $ref: '#/components/schemas/TimeIntervalObject'
    TrackRestrictionObject:
      type: object
      x-spotify-docs-type: TrackRestrictionObject
      properties:
        reason:
          type: string
          description: 'The reason for the restriction. Supported values:

            - `market` - The content item is not available in the given market.

            - `product` - The content item is not available for the user''s subscription type.

            - `explicit` - The content item is explicit and the user''s account is set to not play explicit content.


            Additional reasons may be added in the future.

            **Note**: If you use this field, make sure that your application safely handles unknown values.

            '
    AlbumBase:
      type: object
      required:
      - album_type
      - total_tracks
      - available_markets
      - external_urls
      - href
      - id
      - images
      - name
      - release_date
      - release_date_precision
      - type
      - uri
      properties:
        album_type:
          type: string
          description: 'The type of the album.

            '
          enum:
          - album
          - single
          - compilation
          example: compilation
        total_tracks:
          type: integer
          description: The number of tracks in the album.
          example: 9
        available_markets:
          deprecated: true
          type: array
          items:
            type: string
          example:
          - CA
          - BR
          - IT
          description: 'The markets in which the album is available: [ISO 3166-1 alpha-2 country codes](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). _**NOTE**: an album is considered available in a market when at least 1 of its tracks is available in that market._

            '
        external_urls:
          allOf:
          - $ref: '#/components/schemas/ExternalUrlObject'
          description: 'Known external URLs for this album.

            '
        href:
          type: string
          description: 'A link to the Web API endpoint providing full details of the album.

            '
        id:
          type: string
          description: 'The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the album.

            '
          example: 2up3OPMp9Tb4dAKM2erWXQ
        images:
          type: array
          items:
            $ref: '#/components/schemas/ImageObject'
          description: 'The cover art for the album in various sizes, widest first.

            '
        name:
          type: string
          description: 'The name of the album. In case of an album takedown, the value may be an empty string.

            '
        release_date:
          type: string
          example: 1981-12
          description: 'The date the album was first released.

            '
        release_date_precision:
          type: string
          enum:
          - year
          - month
          - day
          example: year
          description: 'The precision with which `release_date` value is known.

            '
        restrictions:
          allOf:
          - $ref: '#/components/schemas/AlbumRestrictionObject'
          description: 'Included in the response when a content restriction is applied.

            '
        type:
          type: string
          enum:
          - album
          description: 'The object type.

            '
        uri:
          type: string
          example: spotify:album:2up3OPMp9Tb4dAKM2erWXQ
          description: 'The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the album.

            '
    SavedTrackObject:
      type: object
      x-spotify-docs-type: SavedTrackObject
      properties:
        added_at:
          type: string
          format: date-time
          x-spotify-docs-type: Timestamp
          description: 'The date and time the track was saved.

            Timestamps are returned in ISO 8601 format as Coordinated Universal Time (UTC) with a zero offset: YYYY-MM-DDTHH:MM:SSZ.

            If the time is imprecise (for example, the date/time of an album release), an additional field indicates the precision; see for example, release_date in an album object.

            '
        track:
          allOf:
          - $ref: '#/components/schemas/TrackObject'
          description: Information about the track.
    SectionObject:
      type: object
      properties:
        start:
          type: number
          description: The starting point (in seconds) of the section.
          example: 0.0
        duration:
          type: number
          description: The duration (in seconds) of the section.
          example: 6.97092
        confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the section's "designation".
          example: 1.0
          minimum: 0
          maximum: 1
        loudness:
          type: number
          description: The overall loudness of the section in decibels (dB). Loudness values are useful for comparing relative loudness of sections within tracks.
          example: -14.938
        tempo:
          type: number
          description: The overall estimated tempo of the section in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
          example: 113.178
        tempo_confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the tempo. Some tracks contain tempo changes or sounds which don't contain tempo (like pure speech) which would correspond to a low value in this field.
          example: 0.647
          minimum: 0
          maximum: 1
        key:
          type: integer
          description: The estimated overall key of the section. The values in this field ranging from 0 to 11 mapping to pitches using standard Pitch Class notation (E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on). If no key was detected, the value is -1.
          example: 9
        key_confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the key. Songs with many key changes may correspond to low values in this field.
          example: 0.297
          minimum: 0
          maximum: 1
        mode:
          type: number
          description: Indicates the modality (major or minor) of a section, the type of scale from which its melodic content is derived. This field will contain a 0 for "minor", a 1 for "major", or a -1 for no result. Note that the major key (e.g. C major) could more likely be confused with the minor key at 3 semitones lower (e.g. A minor) as both keys carry the same pitches.
          enum:
          - -1
          - 0
          - 1
        mode_confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the `mode`.
          example: 0.471
          minimum: 0
          maximum: 1
        time_signature:
          $ref: '#/components/schemas/TimeSignature'
        time_signature_confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the `time_signature`. Sections with time signature changes may correspond to low values in this field.
          example: 1.0
          minimum: 0
          maximum: 1
    Mode:
      type: integer
      example: 0
      description: 'Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.

        '
    Tempo:
      type: number
      example: 118.211
      format: float
      x-spotify-docs-type: Float
      description: 'The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.

        '
    RecommendationsObject:
      type: object
      x-spotify-docs-type: RecommendationsObject
      required:
      - seeds
      - tracks
      properties:
        seeds:
          type: array
          items:
            $ref: '#/components/schemas/RecommendationSeedObject'
          description: 'An array of recommendation seed objects.

            '
        tracks:
          type: array
          items:
            $ref: '#/components/schemas/TrackObject'
          description: 'An array of track object (simplified) ordered according to the parameters supplied.

            '
    Key:
      type: integer
      example: 9
      minimum: -1
      maximum: 11
      description: 'The key the track is in. Integers map to pitches using standard [Pitch Class notation](https://en.wikipedia.org/wiki/Pitch_class). E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on. If no key was detected, the value is -1.

        '
    TimeIntervalObject:
      type: object
      properties:
        start:
          type: number
          description: The starting point (in seconds) of the time interval.
          example: 0.49567
        duration:
          type: number
          description: The duration (in seconds) of the time interval.
          example: 2.18749
        confidence:
          type: number
          description: The confidence, from 0.0 to 1.0, of the reliability of the interval.
          example: 0.925
          minimum: 0
          maximum: 1
  responses:
    OneAudioFeatures:
      description: Audio features for one track
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AudioFeaturesObject'
    Unauthorized:
      description: 'Bad or expired token. This can happen if the user revoked a token or

        the access token has expired. You should re-authenticate the user.

        '
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                $ref: '#/components/schemas/ErrorObject'
    TooManyRequests:
      description: 'The app has exceeded its rate limits.

        '
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                $ref: '#/components/schemas/ErrorObject'
    OneRecommendations:
      description: A set of recommendations
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RecommendationsObject'
    PagingSavedTrackObject:
      description: Pages of tracks
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagingSavedTrackObject'
    ArrayOfBooleans:
      description: Array of booleans
      content:
        application/json:
          schema:
            type: array
            example:
            - false
            - true
            items:
              type: boolean
    ManyTracks:
      description: A set of tracks
      content:
        application/json:
          schema:
            type: object
            required:
            - tracks
            properties:
              tracks:
                type: array
                items:
                  $ref: '#/components/schemas/TrackObject'
    OneTrack:
      description: A track
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TrackObject'
    OneAudioAnalysis:
      description: Audio analysis for one track
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AudioAnalysisObject'
    Forbidden:
      description: 'Bad OAuth request (wrong consumer key, bad nonce, expired

        timestamp...). Unfortunately, re-authenticating the user won''t help here.

        '
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                $ref: '#/components/schemas/ErrorObject'
    ManyAudioFeatures:
      description: A set of audio features
      content:
        application/json:
          schema:
            type: object
            required:
            - audio_features
            properties:
              audio_features:
                type: array
                items:
                  $ref: '#/components/schemas/AudioFeaturesObject'
  securitySchemes:
    oauth_2_0:
      type: oauth2
      description: Spotify supports OAuth 2.0 for authenticating all API requests.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.spotify.com/authorize
          tokenUrl: https://accounts.spotify.com/api/token
          scopes:
            app-remote-control: 'Communicate with the Spotify app on your device.

              '
            playlist-read-private: 'Access your private playlists.

              '
            playlist-read-collaborative: 'Access your collaborative playlists.

              '
            playlist-modify-public: 'Manage your public playlists.

              '
            playlist-modify-private: 'Manage your private playlists.

              '
            user-library-read: 'Access your saved content.

              '
            user-library-modify: 'Manage your saved content.

              '
            user-read-private: 'Access your subscription details.

              '
            user-read-email: 'Get your real email address.

              '
            user-follow-read: 'Access your followers and who you are following.

              '
            user-follow-modify: 'Manage your saved content.

              '
            user-top-read: 'Read your top artists and content.

              '
            user-read-playback-position: 'Read your position in content you have played.

              '
            user-read-playback-state: 'Read your currently playing content and Spotify Connect devices information.

              '
            user-read-recently-played: 'Access your recently played items.

              '
            user-read-currently-playing: 'Read your currently playing content.

              '
            user-modify-playback-state: 'Control playback on your Spotify clients and Spotify Connect devices.

              '
            ugc-image-upload: 'Upload images to Spotify on your behalf.

              '
            streaming: 'Play content and control playback on your other devices.

              '
